{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{ property.property_name }}</h1>
            <div class="row"  style="width: 500px;">
                <div class="col-lg-12">
                    <div class="swiffy-slider">
                        <ul class="slider-container">
                            {% for photo in property.propertyphoto_set.all %}
                                <li><img src="{{ photo.image.url }}" style="max-width: 500px; height: auto;" alt="Property Photo"></li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="slider-nav"></button>
                        <button type="button" class="slider-nav slider-nav-next"></button>
                        <div class="slider-indicators">
                            {% for _ in property.propertyphoto_set.all %}
                                <button></button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <h3>Property Details</h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Area:</strong> {{ property.location_area }}</li>
                <li class="list-group-item"><strong>City:</strong> {{ property.location_city }}</li>
                <li class="list-group-item"><strong>Property Type:</strong> {{ property.property_type }}</li>
                <li class="list-group-item"><strong>Price:</strong> {{ property.rent_per_month|default:"N/A" }}</li>
                <li class="list-group-item"><strong>Deposit:</strong> {{ property.deposit|default:"N/A" }}</li>
            </ul>

            {% if property.property_type == 'rent' %}
                <h3 class="mt-4">Rental Property Details</h3>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Rent per Month:</strong> {{ property.rent_per_month }}</li>
                    <li class="list-group-item"><strong>Deposit:</strong> {{ property.deposit }}</li>
                    <li class="list-group-item"><strong>Available From:</strong> {{ property.available_from }}</li>
                    <li class="list-group-item"><strong>Owner Name:</strong> {{ property.owner_name }}</li>
                </ul>
            {% endif %}

            {% if property.property_type_buy %}
                <h3 class="mt-4">Buying/Selling Property Details</h3>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Property Type for Sale:</strong> {{ property.property_type_buy }}</li>
                    <li class="list-group-item"><strong>Owner Information:</strong> {{ property.owner_info }}</li>
                </ul>
            {% endif %}
                        <a href="{% url 'request_visit' property.id %}" class="btn btn-primary mt-3">Call Now</a>

        </div>
    </div>
</div>
{% endblock %}
